.nav-link:hover{
    background-color:#52616b;
    opacity: 0.5;
    color:#f0f5f9 !important;
}

#navbar{
  background-color: #1e2022;
}

#intro{
  min-height:50vh;
}

#me{
margin-top: 10vh;
margin-bottom: 10vh;
margin-left:35vh;
height:30vh;
width:25vh;
}

#medesc{
  margin-top: 10vh;
  }

#introbackground{
  background-color: #1e2022;
  color:#f0f5f9;
  width:100%;
  min-height:100vh;
}


.video-background{
  background-color:rgba(0,0,0,0.3);
  position:relative;
  width:100%;
  min-height:100vh;
  
}

.caption{
  position: absolute;
  top:30%;
  width:100%;
}


.fade-in {
  animation: fadeIn ease 8s;
  -webkit-animation: fadeIn ease 8s;
  -moz-animation: fadeIn ease 8s;
  -o-animation: fadeIn ease 8s;
  -ms-animation: fadeIn ease 8s;
}@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}
}